

body {
display: flex;
flex-direction: column;
 align-items: center;
}



.postavy-layout {
    width: 201px; 
    height: 275px
}

.nejvetsi-obraz {
    width: 1200px;
}

.story-layout  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

story.htlm body {
display: flex;
flex-direction: column;
align-items: center;
}

