.riverdale-font {
    font-family: 'Bungee Shade', cursive;
}

body {
display: flex;
flex-direction: column;
 align-items: center;
}

 #postavy.html body  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postavy-layout {
    width: 201px; 
    height: 275px
}

.nejvetsi-obraz {
    width: 1200px;
}
